* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'League Spartan', sans-serif;
  height: 100vh;
  background-color: hsl(180, 52%, 96%);
}

.header {
  background-image: url(../../public/images/bg-header-desktop.svg);
  background-size: cover;
  background-position: center;
  background-color: hsl(180, 29%, 50%);
  height: 15.6rem;
}

main {
  position: relative;
}

.container {
  margin: 0 auto;
  width: 110.8rem;
}


/**************************************/
/* FILTERS */
/**************************************/
.filter-container {
  display: none;
  justify-content: space-between;
  align-items: center;
  
  transform: translateY(-50%);
  
  width: 100%;
  padding: 2rem 4rem;
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 2rem 2rem -1rem rgb(0 0 0 / 10%);
}

.filter-container.open {
  display: flex;
}

.filter-container.open + .listings {
  padding-top: 0;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.filter {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}

.text-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: hsl(180, 31%, 95%);
}

.filter-text {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 1rem;
  color: hsl(180, 29%, 50%);
}

.filter-remove {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 3.3rem;
  height: 3.3rem;
  background-color: hsl(180, 29%, 50%);

  transition: all 0.3s;
}

.filter-remove:hover,
.filter-remove:active {
  cursor: pointer;
  background-color: hsl(180, 14%, 20%);
}

.clear-btn {
  border-bottom: 1px solid transparent;
  border-top: none;
  border-left: none;
  border-right: none;

  background: none;
  height: fit-content;
  
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(180, 8%, 52%);
}

.clear-btn:hover,
.clear-btn:active {
  color: hsl(180, 29%, 50%);
  border-bottom: 1px solid hsl(180, 29%, 50%);
  cursor: pointer;
}

/**************************************/
/* LISTINGS */
/**************************************/
.listings {
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
  gap: 2.4rem;
}

.listing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  padding: 3.2rem 4rem;
  border-radius: 5px;
  box-shadow: 0 2rem 2rem -1rem rgb(0 0 0 / 10%);
  position: relative;
}

.listing.featured::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0.5rem;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  background-color: hsl(180, 29%, 50%);
}

.listing-left {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.listing-logo {
  width: 8.8rem;
  height: 8.8rem;
}

.listing-logo-small {
  display: none;
  width: 5rem;
  height: 5rem;
}

.listing-info {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.info-top {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.listing-company {
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  color: hsl(180, 29%, 50%);
}

.tags {
  display: flex;
  gap: 1rem;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5rem 0.8rem;
  border-radius: 30px;
  color: hsl(0, 0%, 100%);
}

.tag span {
  margin-top: 0.2rem;
}

.new-tag {
  background-color: hsl(180, 29%, 50%);
}

.featured-tag {
  background-color: hsl(180, 14%, 20%);
}

.listing-position {
  font-size: 2.2rem;
  font-weight: 700;
  color: hsl(180, 14%, 20%);
}

.listing-position:hover {
  cursor: pointer;
  color: hsl(180, 29%, 50%);
}

.info-bottom {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.info-small {
  font-size: 1.8rem;
  white-space: nowrap;
  color: hsl(180, 8%, 52%);
}

.bullet {
  font-size: 1.4rem;
  color: hsl(180, 12%, 68%);
}

.listing-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
}

.listing-tag {
  font-size: 1.4rem;
  font-weight: 700;
  border: none;
  padding: 0 1rem;
  height: 3.2rem;
  border-radius: 5px;
  background-color: hsl(180, 31%, 95%);
  
  transition: all 0.3s;
}

.listing-tag:hover,
.listing-tag:active {
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  background-color: hsl(180, 29%, 50%);
}

/*****************************/
/* ATTRIBUTION */
/*****************************/
.attribution {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  font-size: 11px;
  width: 100%;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}